# Firebase Configuration
FIREBASE_PROJECT_ID=mandarinmate-utm
FIREBASE_PROJECT_NUMBER=253053635674
FIREBASE_STORAGE_BUCKET=mandarinmate-utm.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=253053635674

# Platform-specific API Keys
FIREBASE_API_KEY_ANDROID=AIzaSyDsZm5XYYMgmDQG0rFO1JLH8ubwK0pI3M4
FIREBASE_API_KEY_IOS=AIzaSyAZYL2BSWw82TNJQWQS2eXK6UDlyANmmsc
FIREBASE_API_KEY_WEB=AIzaSyA-fZdzBF8rGZjii4TtheFvbmELwbe-GLU

# Platform-specific App IDs
FIREBASE_APP_ID_ANDROID=1:253053635674:android:944bb7b4ba0df1f0af5c63
FIREBASE_APP_ID_IOS=1:253053635674:ios:e72bf08d74a32061af5c63
FIREBASE_APP_ID_WEB=1:253053635674:web:887caf9668f06b5caf5c63